/doc/Map
/vendor

/.idea/deployment.xml
/.idea/symfony2.xml
/.idea/webServers.xml
/.idea/workspace.xml
/bin/sync.sh
/composer.lock
/doc/Lemuria.pdf
/storage/config.json
/storage/config.local.json
/storage/game/*.json
/storage/game/*/*.json
/storage/game/year.*/*/*.json
/storage/log/converter.log
/storage/log/lemuria.log
/storage/log/simulation.log
/storage/log/*/*.log
/storage/log/year.*/*/*.log
/storage/orders/*/*.order
/storage/orders/year.*/*/*.order
/storage/report/*/*.zip
/storage/turn/world.cr
/storage/turn/*/*.*
/storage/turn/year.*/*/*.*
/web/css/report.min.css
/web/js/report.min.js
