body {
    margin: 1rem;
}

h2, h3, h4, h5 {
    margin-top: 2rem;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

.badge-dark {
    color: #fff;
    background-color: #e724c7;
}

.report {
    padding-left: 0;

    .badge.text-monospace {
        font-size: 96%;
    }
}

.unit {
    margin-bottom: 1rem;

    p {
        margin-bottom: 0;
    }

    ul {
        margin-bottom: unset;
    }

    .report li {
        font-size: small;
    }
}

.diplomacy > li {
    margin-bottom: 1rem;
}
