@charset "UTF-8";

/*! Lemuria 1.3 */

@import "../../vendor/twbs/bootstrap/scss/functions";
@import "../../vendor/twbs/bootstrap/scss/variables";
@import "../../vendor/twbs/bootstrap/scss/mixins/breakpoints";

$lemuriaWebBase: "https://lemuria.fantasya-pbem.de/";
$mapImagesPath: "img/map/";
$iconFileType: "png";
$fontFamilySerif: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, "Times New Roman", Times, serif;

$unicumColor: #e724c7;

$navColorDefault: $green;
$navIconDefault: "\1f333\a0";
$navColors: ("navigable": $blue-700, "construction": $dark, "vessel": $blue);
$navColorIcons: ("navigable": "\1f30a\a0", "construction": "\1f3e0\a0", "vessel": "\26f5\a0");
$navLandscapes: (
        "desert": "'\1f3dc\a0'", "glacier": "'\1f3d4\a0'", "highland": "'\1f342\a0'", "mountain": "'\26f0\a0'",
        "plain": "'\1f33e\a0'", "swamp": "'\1f33f\a0'"
);
$navBuildings: (
        "site": "'\2692\a0'", "fort": "'\1f3f0\a0'", "tower": "'\1f3f0\a0'", "palace": "'\1f3f0\a0'",
        "stronghold": "'\1f3f0\a0'", "citadel": "'\1f3f0\a0'", "acropolis": "'\1f3f0\a0'", "megapolis": "'\1f3f0\a0'",
        "cabin": "'\1fa93\a0'", "camelbreeding": "'\1f42b\a0'", "griffinbreeding": "'\1f985\a0'",
        "horsebreeding": "'\1f434\a0'", "lighthouse": "'\1f56f\a0'", "market": "'\1f3db\a0'", "mine": "'\26cf\a0'",
        "monument": "'\1f3ef\a0'", "pit": "'\1f3da\a0'",  "port": "'\2693\a0'", "quarry": "'\1faa8\a0'",
        "sawmill": "'\1fab5\a0'", "shack": "'\1f6d6\a0'",
);
$mapLandscapes: ("desert", "forest", "glacier", "highland", "lake", "mountain", "ocean", "plain", "swamp");

$zIndexMap: $zindex-modal;
$zIndexNavbar: $zindex-modal + 5;
$zIndexHelp: $zIndexNavbar + 1;
$zIndexGoto: $zIndexHelp + 1;

body {
    margin: 1rem 2rem 1rem 1rem;
    @media (overflow-block: scroll) {
        margin-right: 1rem;
    }
}

body.fantasya-font {
    font-family: $fontFamilySerif;
}

a {
    text-decoration: none;
}

h2, h3, h4, h5 {
    margin-top: 2rem;
}

p.h7 {
    margin: 0.5rem 0 0;
}

p.h8 {
    margin: 0;
}

p.h8, ol.small {
    font-size: small;
}

mark {
    background-color: #eef6f7;
    padding: 0.25em 1.0em;
    text-align: justify;
    display: inline-block;
}

q {
    &::before, &::after {
        content: unset;
    }
}

ul {
    list-style-position: inside;
    list-style-type: none;
    padding-left: 0;
}

.container-fluid .row {
    > div ul {
        padding-left: 0;
    }
    .pt-md-5, .pt-xl-5 {
        padding-top: 4.25rem !important;
    }
}

div.fixed-top.vh-100 {
    left: unset;
    overflow-y: scroll;
    z-index: $zIndexNavbar;
}

ul.report .badge {
    font-size: $font-size-base;
}

.badge.font-monospace {
    padding: 0.4rem 0.5rem 0.2rem;
}

.badge-dark, .text-bg-magic {
    color: #fff;
    background-color: $unicumColor;
}

.badge-inverse {
    border: 1px solid $gray-400;
    font-size: 90%;
    padding: 0.15em 0.2em 0.15em;
    margin-left: 0.2em;
    &.badge-danger, &.text-bg-danger {
        color: $danger;
        background-color: $white;
    }

    &.badge-success, &.text-bg-success {
        color: $success;
        background-color: $white;
    }
}

#navbar-toggle, #toggle-map {
    left: unset;
    z-index: $zIndexNavbar;
}

#navbar {
    .navbar-brand {
        margin-left: 1.0rem;
        margin-top: 0.5rem;
    }
    .nav > .navbar-brand:first-child {
        margin-top: 0;
    }
    .nav-pills .nav-link {
        &.location {
            color: $navColorDefault;
            &:before {
                content: $navIconDefault;
            }
            @each $landscape, $icon in $navLandscapes {
                &.#{$landscape}:before {
                    content: #{$icon};
                }
            }
        }
        @each $key, $color in $navColors {
            &.#{$key} {
                color: $color;
                &:before {
                    content: map-get($navColorIcons, $key);
                }
            }
        }
        &.construction {
            @each $buiding, $icon in $navBuildings {
                &.#{$buiding}:before {
                    content: #{$icon};
                }
            }
        }
        &.active {
            background-color: transparentize($primary, 0.7);
        }
    }
}

#modal-map {
    z-index: $zIndexMap;
    .modal-dialog {
        margin-left: 3vw;
        margin-top: 6vh;
        width: 94vw;
        height: 88vh;
        max-width: unset;
        .modal-content {
            height: 100%;
            .modal-body {
                overflow-y: auto;
            }
        }
    }
    .modal-body > a {
        color: inherit;
        > div {
            width: 64px;
            height: 64px;
            font-size: 12px;
            line-height: 10px;
            text-align: center;
            overflow: hidden;
            padding: 15px 5px;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            @each $landscape in $mapLandscapes {
                &.#{$landscape} {
                    background-image: url(#{$lemuriaWebBase}#{$mapImagesPath}#{$landscape}.#{$iconFileType});
                }
            }
        }
    }
}

#toggle-help {
    position: absolute;
    top: 1.0rem;
}

#toggle-responsive {
    @media (min-width: breakpoint-min("md")) {
        position: absolute;
        top: 5.0rem;
    }
}

#toggle-goto {
    @media (min-width: breakpoint-min("md")) {
        position: absolute;
        right: 2.0rem;
        top: 5.0rem;
    }
    @media (min-width: breakpoint-min("md")) and (overflow-block: scroll) {
        right: 1.0rem;
    }
}

#messages-button-config .dropdown-item {
    span {
        display: inline-block;
        width: 1.0em;
    }
    &.option-set span::before {
        content: '✔';
    }
}

#acquaintances {
    margin-top: 0.75rem;
    small {
        display: block;
        margin: 0.5rem 0;
    }
    h4 {
        margin-top: 0.5rem;
    }
    .relation.font-monospace {
        font-size: 90%;
    }
}

#modal-help {
    z-index: $zIndexHelp;
    li span {
        font-weight: bold;
        border: 1px solid #ddd;
        padding: 0.5em;
        margin-right: 0.25em;
        line-height: 2.0em;
    }
}

#modal-goto {
    z-index: $zIndexGoto;
}

.non-responsive .container-fluid .row > div {
    flex: unset;
    max-width: unset;
    padding: unset !important;
    width: 100%;
}

.report {
    .badge.text-monospace {
        font-size: 96%;
    }
}

.unit {
    margin-bottom: 1rem;
    p {
        margin-bottom: 0;
    }
    .blockquote {
        margin: 0 1.0rem 0.5rem;
        color: $primary;
        font-size: unset;
        font-style: italic;
    }
    ol {
        list-style-type: none;
        margin: 0;
        padding: unset;
    }
    ul {
        margin-bottom: unset;
    }
    .report li {
        font-size: small;
    }
}

.announcement {
    margin: 0.5rem 0 0;
    blockquote {
        margin: 0.25rem 0 0;
        font-style: italic;

        @media (min-width: breakpoint-min("lg")) {
            display: inline-block;
            margin-left: 0.5em;
        }
    }
}

.statistics.table tbody {
    .change-less {
        .less-is-good,
        &.less-is-good {
            color: $success;
        }
        .more-is-good,
        &.more-is-good {
            color: $danger;
        }
    }
    .change-more {
        .less-is-good,
        &.less-is-good {
            color: $danger;
        }
        .more-is-good,
        &.more-is-good {
            color: $success;
        }
    }
    .market.table {
        th.offer {
            color: $primary;
        }
    }
    table {
        margin-bottom: 0;

        tr {
            background-color: unset;
        }
    }
}

.statistics.table tr {
    &.td-8 td {
        width: 12.5%;
    }
    &.td-9 td {
        width: 11.111%;
    }
    &.td-12 td {
        width: 8.333%;
    }
    &.td-16 td {
        width: 6.25%;
    }
    &.td-18 td {
        width: 5.555%;
    }
    &.td-20 td {
        width: 5.0%;
    }
    &.td-27 td {
        width: 3.703%;
    }
    .rank-1 {
        background-color: #ebedf5;
    }
    .rank-2 {
        background-color: #f3f4f9;
    }
    .rank-3 {
        background-color: #f9f9fc;
    }
}

.statistics.table.table-sm {
    table {
        caption {
            caption-side: top;
            color: unset;
            font-weight: $font-weight-bold;
            padding: 0 0 $table-cell-padding-y-sm;
        }
    }
}

.market li .trade-flag {
    color: transparentize($secondary, 0.7);
    &.ppp-1, &.ad-1, &.var-1, &.rep-1 {
        color: $dark;
    }
}
